body{
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba( 0, 0, 0, 0.5)), url("../img/background.png") center center no-repeat;
    background-size: cover;

}
.nav-bar{
    height:40px;
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding:5px 0px 0px 0px;
    opacity: 0.8;
}
.header-iner{
    height: 5%;
}
.startup{
    color: white;
    height: 15px;
    margin: 0 auto;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
}
.header-nav{
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 0 0;
    height: 30px;
}
li{
    text-decoration: none;
    display: inline;
    padding: 0 20px 0 20px;
}
.a1{
    letter-spacing: 0px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Montserrat";
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 1s;
}
.container{
    height:100%;
    width: 1140px;
    margin: 0 auto;
}
.a1:hover{
    font-size: 18px;
    transition: 1s;

}
.header-center{
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.header-center1{
    width: 601px;
    height: 110px;
}
.header-center2{
    font-size: 48px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
.header-center3{
    width: 600px;
    height: 10px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
.header-center5{
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    border: 1px solid white;
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    text-align: center;
    margin: 150px 100px 100px 220px;
    transition: 1s;
    opacity: 0.8;
}
.header-center5:hover{
    background-color:white ;
    color: #520903;
    transition: 1s;
}
.main{
    width: 100%;
    height: 400px;
    margin-top: -20px;
    background-color:#FFFFFF;
}
.main-inner{
    margin: 20px auto;
    width: 585px;
}
.main-inner-line{
    border: 1px solid black;
    width: 50px;
    height: 0px;
    margin-left: 45.5%;
    margin-top: -3%;
}
.main-inner-service{
    margin-left: 43%;
    margin-top: -3%;
    padding: 15px 0px;
    color: #555555;
    font-size: 20;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.main-inner-text{
    padding: 3px auto;
    margin-left: 15%;
    padding: 15px 0px;
    font-size: 16;
    color: #555555;
    font-family: "RobotoSlab-Regular","AdobeInvisFont","MyriadPro-Regular";
}
.service-1{
    width: 345px;
    text-align: center;
    color: #555555;
}
.service-1-img{
    width:91px;
    height: 91px;
    background-image: url(/img/service-img/service-1-img.png);
    background-repeat: no-repeat;
    background-position: center ;
    margin: 0 auto;
    transition: 0.6;
}
.service-1-img:hover{
    background-image: url(/img/service-img/service-1-img-hover.png);
}
.service-1-name{
    font-size: 14;
    font-weight: 400;
    font-family: "Montserrat";
}
.service-1-text{
    font-size:14px ;
    width: 345px;
    height: 63px;
}
.service-1-alltext{
    text-align: center;
    width: 345px;
}
.service-2{
    width: 345px;
    text-align: center;
    color: #555555;
}
.service-2-img{
    width:91px;
    height: 91px;
    background-image: url(/img/service-img/service-2-img.png);
    background-repeat: no-repeat;
    background-position: center ;
    margin: 0 auto;
    transition: 0.6;
}
.service-2-img:hover{
    background-image: url(/img/service-img/service-2-img-hover.png);
}
.service-2-name{
    font-size: 14;
    font-weight: 400;
    font-family: "Montserrat";
}
.service-2-text{
    font-size:14px ;
    width: 345px;
    height: 63px;
}
.service-2-alltext{
    text-align: center;
    width: 345px;
}
.service-3{
    width: 345px;
    text-align: center;
    color: #555555;
}
.service-3-img{
    width:91px;
    height: 91px;
    background-image: url(/img/service-img/service-3-img.png);
    background-repeat: no-repeat;
    background-position: center ;
    margin: 0 auto;
    transition: 0.6;
}
.service-3-img:hover{
    background-image: url(/img/service-img/service-3-img-hover.png);
}
.service-3-name{
    font-size: 14;
    font-weight: 400;
    font-family: "Montserrat";
}
.service-3-text{
    font-size:14px ;
    width: 345px;
    height: 63px;
}
.service-3-alltext{
    text-align: center;
    width: 345px;
}
.main-service{
    display: flex;
    justify-content: center;
}
.footer{
    width: 1600px;
    height: 140px;
    background-color:#BF2F1B;
    padding: 100px 0px;
}
.footer-img{
    width:30px;
    height: 30px;
    background-image: url(/img/footer-img/twitter.png);
    background-repeat: no-repeat;
    background-position: center ;
    transition: 0.6;
    border-radius: 50%;
    border: 2px solid white;
    display: inline-block;
    margin: 0 auto;
}
.footer-img:hover{
    background-color: white;
    width:30px;
    height: 30px;
    background-image: url(/img/footer-img/twitter2.png);
    background-repeat: no-repeat;
    background-position: center ;
    transition: 0.6;
    border-radius: 50%;
    border: 2px solid white;
    display: inline-block;
    margin: 0 auto;
}
.footer-image{
    width: 150px;
    height: 30px;
    margin: 0 auto;
}
.footer-container{
    text-align: center;
    margin: 0 auto;
    padding: 20px 100px;
    width: 240px;
    height: 100px;
}
.footer-text{
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    padding: 40px 0px;
}